:root{
    --back-groundColor:#F6F4EB;
    --main-backgroundColor:#0387C2;
    --footer-backgroundColor:#121213;
    --Nav-backgroundColor:#ffffff;
    --Font-family:font-family: 'Playfair Display', serif;
    --Paragraph-fontSize:1.2rem;
    --Titles-Fontsize:3rem
    --crsl-bg: transparent;
    --box-bg: #1e272e;
    --box-shadow: #0000001c;
    --box-shadow-border: #0000000f;
    --box-border: #fff;
   /*   -----------Link-----------------
    (<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
)
    */
}
*{
    scroll-behavior: smooth;
}
header{
    background-color: var(--main-backgroundColor);
    position: relative;
    overflow: hidden;
}
nav{
    background-color: white;
    z-index: 5;
    position: fixed !important;
    width: 100%;
    top: 0;
    
}

a{
    color: rgb(0, 0, 0) !important;
    font-size: var(--Paragraph-fontSize);
    text-decoration: none!important;
}
.dropdown-menu{
    background-color:white;
    padding: 0;
}
.dropdown-item:hover{
    color: white !important;
    background-color: rgb(0, 0, 0) ;
}

.navbar-brand{
    font-size: 30px;
    text-decoration: underline;
    font-family: 'Tilt Prism', cursive;

}
.nav-item{
    position: relative;
}
.nav-item::before{
    position: absolute;
    content: '';
    bottom: 1px;
    left: 5px;
    transition: 0.4s;
    width: 0%;
    height: 2px;
    background-color: #91C8E4;
}
.nav-item:hover::before{
    width: 90%;
}

.headerQuate{
    font-family: "Poppins", Sans-serif;
    font-size: 3rem;
   
    
}
[alt="headerLogo"]{
    width: 450px !important;
}
.fa-circle-chevron-down{
    
    color: #0387C2 !important;
}
.headerQuate+p{
font-size: 1rem ;
color: white;

}
[type="text"],[type="email"]{
    border: 1px solid grey;
    outline: none;
}
@media(min-width:320px)and(max-width:768){

    .secondPartheader{
        padding: 350px 0 !important;
    }
}
@media(max-width:768px){
    [alt="headerLogo"]{
        width: 100%;
    }
    .firstImg{
        max-width:250px ;
    }
.headerQuate{
    font-size: 2rem !important;
}
} 
.aboutPara{
    font-size: 20px;
    color: grey;
}
    

.hiddenHeading,#hiddenPara{
    display: none;
}
.fa-brands{
    font-size: 20px !important;
}

.contactBtn{
    border: none;
    padding:5px 40px !important;
    transition: 0.5s;
} 
.icons{
    background-color: white;
    padding:10px 5px;
    border-radius: 20px;
    position: fixed;
    right: -2px;
    top: 50%;
}
.contactBtn:hover{
    color: #121213 !important;
    background-color: white !important;
}

@media(max-width:769px){
    p{
        font-size: 3vw;
    }
}
@media(max-width:620px){
    .icons{
        display: none !important;
    }
    .aboutHeading{
        font-size: 50px !important;
    }

}
.aboutPara{
    position: relative;
}
.aboutHeading{
    font-size: 90px;
    /* text-decoration: underline; */
    opacity: 0.2;
    position: absolute;
    top: -40px;
    left: 150px;
    font-family: 'Tilt Prism', cursive;
    text-align: end;
}

/* fotorama section tow */
section {
    padding: 20px 0;
}
#row-modify {
    margin-left: 0;
    margin-right: 0;
}
#img-modify {
    text-align: center;
}
#img-modify>h2 {
    font-family: 'Tilt Prism', cursive ;
}
#img-modify img {
    border-radius: 25px !important;
    /* overflow: hidden !important; */
}
#img-modify div {
    border-radius: 25px !important;
    /* overflow: hidden; */
}
@media(max-width:992px ) and (min-width:426px){
    .col-lg-6 {
width: 600px;}
.imgesContainer{
    justify-content: center !important;}
.row-modify{
    padding: 0 !important;
}}
/* fotorama section tow */



/* start footer  */
footer,#pageFotter{
    background-color: #010101;
    color: #fff;
}
.heading{
    position: relative;
}
.heading::before{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 15%;
    background-color: white;
    height: 1px;
}
.brands_{
    font-size: 15px !important;
}
footer{
   background-color:  whitesmoke !important;
color: #000000 !important;}
#copyRight{
  
    background-color: #000000 ;
 
} 
.footerChild{
    
    width: 25%;
    height: 100%;
}
@media(min-width:768px){
    .footerChild{
        width: 30%;
    }
}
[value="Subscribe"]{
    background-color: #0387C2;
}
[value="Subscribe"]:hover{
    background-color: #fff;
    color: #0387C2;
}
input{
    background-color: #121213;
}
p{
    padding: 0 !important;
    margin: 0 !important;
}
.link{
    width: 200px;
    padding-bottom: 10px; ;
    border-bottom: 1px solid grey;
}
.fa-location-dot + p,.fa-phone+p,.fa-envelope+p,.fa-clock+p{
    width: 195px;
}
.about-img-bg
{
    background-color: white;
}
@media(min-width:992px){
    .about-img{
        width: 100% !important;
    }
}
.aboutUsContainer{
    background-image: linear-gradient(45deg,rgb(50,50,50),rgb(30,30,30));
}
.card-body{
    padding: 0 !important;
}
.about-img{
  
    background-color: black;
    padding: 10px;
}
h2{
    display: none;
}
.hidePara{
    display: none;
}
.firstImg{
    display: none;
}
.fadeInSection{
   min-height: 300px !important;
}
/* carousel --------------- */
html > .carousel, body > .carousel {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  .carousel {
    position: relative;
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  .carousel__prev, .carousel__next {
    position: absolute;
    bottom: -15%;
    transition: transform 0.25s ease;
  }
  .carousel__prev i, .carousel__next i {
    font-size: 60px;
    color: var(--box-border);
    cursor: pointer;
  }
  .carousel__prev:hover, .carousel__next:hover {
    transform: scale(1.25);
  }
  .carousel__prev {
    left: 40%;
    bottom:20px;
}
.fa-angles-left,.fa-angles-right{
      font-size:35px !important ;

  }
  .carousel__next {
    right: 40%;
    bottom:20px;
  }
  .carousel__body {
    width: 100%;
    padding: 20px 0 50px 0;
    overflow: hidden;
  }
  .carousel__body .carousel__slider {
    position: relative;
    transition: transform 1s ease-in-out;
    background: var(--crsl-bg);
  }
  .carousel__body .carousel__slider__item {
    position: relative;
    display: block;
    float: left;
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px;
  }
  .carousel__body .carousel__slider__item .item__3d-frame {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .carousel__body .carousel__slider__item .item__3d-frame:after {
    content: "";
    position: absolute;
    bottom: -15%;
    width: 100%;
    height: 40px;
    background: var(--box-shadow);
    box-shadow: 0px 0px 5px 5px var(--box-shadow);
    transform: rotateX(90deg) translate3d(0px, -20px, 0px);
    opacity: 0.85;
  }
  .item__3d-frame__box--front{
    background-image: url(../assetes/pexels-brett-sayles-3803517.jpg);
    background-position: center;
    width: 80%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .secondBg{
    background-image: url(../assetes/pexels-pixabay-267350.jpg);
  }
  
  .carousel__body .carousel__slider__item .item__3d-frame__box {
    display: flex;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    border-color: var(--box-border);
    /* background: var(--box-bg); */
    border-width: 3px;
    border-style: solid;
  }
  .carousel__body .carousel__slider__item .item__3d-frame__box h1 {
    font-size: 7em;
    width: 100%;
    color: var(--box-border);
  }
  .carousel__body .carousel__slider__item .item__3d-frame__box--right, .carousel__body .carousel__slider__item .item__3d-frame__box--left {
    top: 0;
    width: 40px;
    backface-visibility: hidden;
  }
  .carousel__body .carousel__slider__item .item__3d-frame__box--left {
    left: 0;
    border-left-width: 5px;
    transform: translate3d(1px, 0, -40px) rotateY(-90deg);
    transform-origin: 0%;
  }
  .carousel__body .carousel__slider__item .item__3d-frame__box--right {
    right: 0;
    border-right-width: 5px;
    transform: translate3d(-1px, 0, -40px) rotateY(90deg);
    transform-origin: 100%;
  }
  .itemDescription{
    background-color: rgba(27, 25, 25, 0.6);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 85%;
    transition: 0.5s;
    color: white !important;
  }
  .itemDescription p {
    font-size: 20px;
    
  }
  .secondPara{
    font-size: 15px !important;
 font-family: Arial, Helvetica, sans-serif !important;
  }
  .itemDescriptionOne:hover .itemDescription{
    top: 20%;
  }
.secondBg:hover .itemDescription{
    top: 20%;
}
.threeBg:hover .itemDescription{
    top: 20%;
}
.threeBg{
    background-image: url(../assetes/games.jpg);
}
.text-reset{
    width: 200px !important;
    display: flex!important;
    justify-content: flex-start !important;
    align-items: center;
}
/* .card-hover{
    transition: transform 1s;
  }
  .card-hover:hover{
    border: 4px solid rgba(203, 203, 203,0.5);
    background-color: white;
    transform: scale(0.95);
  } */